.blog-div {
    background: white;
    box-shadow: 2rem 0 8rem -4rem; 
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    position: relative;
}

.blog-div::after {
    border-right: 2.5rem solid transparent;
    border-top: 2.5rem solid white;
    bottom: -2.5rem;
    content:"";
    height: 0;
    left:0;
    position: absolute;
    width: 0;
    z-index: 10;
}

.blog-thumbnail-div {
    background: var(--grey);
    height: 15rem;
    width: 100%;
}

.blog-snippet-div {
    padding: var(--short-length); 
}