.blue-button {
    color: white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    background: linear-gradient(var(--blue-gradient));
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
}