#layout-div {
    display: grid;
    grid-template-areas: 
        ". header ."
        ". top ." 
        "stripe-background stripe-background stripe-background"
        ". main ."
        ". bottom ."
        ". info ."
        ". footer footer-right";
    grid-template-columns: auto 950px auto;
    grid-template-rows: auto auto var(--shorter-length) auto auto auto auto;
    grid-column-gap: var(--short-length);
    width: 100%;
}

.grey-gradient-background {
    background: radial-gradient(var(--grey-gradient)) ;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

.grey-dark-background {
    background: var(--dark-grey);
    grid-column: 1 / 4;
    grid-row: 6 / 7;
}

.grey-darker-background {
    background: var(--darker-grey);
    grid-column: 1 / 4;
    grid-row: 7 / 8;
}

.stripe-background {
    background-image: linear-gradient(135deg, #cccccc 12.50%, #efefef 12.50%, #efefef 50%, #cccccc 50%, #cccccc 62.50%, #efefef 62.50%, #efefef 100%);
    background-size: 5.66px 5.66px; 
    grid-area: stripe-background;
}