.tab-div-content {
    margin-top: var(--short-length);
    padding: var(--short-length);
    width: 100%;
    height: calc(100% - 2.66*var(--short-length)); /* not happy with this eye-balled solution */
    position: absolute;
    left: 0px;
    top: 30px;
}

.tab-div {
    float: left;
    height: 100%;
}